
* {
  box-sizing: border-box;
}


body {
  background-color: whitesmoke; 
  font-family: "Arial", sans-serif;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

blockquote {
  margin: 0;
}

button {
  cursor: pointer;
}