// ============================= MAIN ========================
.bgc-box {
  background-image: url("../../img/bcg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}